<div class='uit-container'>
    <div class='uit-content'>
        <ul class='uit-steps'>
            <li class='uit-step' data-step='1'>
                <h2 class='uit-header__headline' itemprop='headline'>
                    <span class='uit-header__headline-kicker'>Stone Mountain</span>
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </li>

            <li class='uit-step' data-step='2'>
                <p class='uit-step__title'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </li>

            <li id='uit-chart-last--1' class='uit-step uit-step__last uit-chart-marker-fixed' data-chart='1' data-step='3'>
                <p class='uit-step__title'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </li>
        </ul>
    </div>
</div>

{{> partials/chart }}
<div class='uit-body'>
    <div class='uit-middle-content'>
        <p><span class='uit-drop'><span class='uit-drop__inner'>G</span></span>loria Brown grew up in Stone Mountain, Georgia, visiting Rich’s Department Store in downtown Atlanta, riding up and down the escalator to the entrance of the Magnolia Room restaurant. Until her twenties, she wasn’t allowed inside. Not until the establishment desegregated in the 1960s, after a sit-in featuring Atlanta-native Martin Luther King, Jr., did the 78-year-old step foot inside the popular restaurant, just miles away from her home.</p>

        <p>“I wanted to go in there and eat so bad. But I couldn’t. So what you gonna do?” she asked. “But the day they passed the bill that I could go in, I dressed up my daughter and I went to the Magnolia Room and I sat in there and eat. I don’t even remember [what I ate],” she said with a laugh. sitting in her one-story, white wooden home on one of the handful of streets in the Village of Stone Mountain. </p>

    </div>

    <div class="uit-section-divider" data-step='1'>
        <video class="uit-chart-image" playsinline autoplay muted loop data-step='1'>
            <source src="{{ path }}/assets/desmond.mp4" type="video/mp4">
            </video>
            <div id="uit-section-divider-1" class="uit-quote-subhead">
                <h3 class='uit-subhead'>
                    <span class='uit-subhead__inner'>"Good or bad, history is history. You can’t erase the fact of history."</span>
                </h3>
                <h4>
                    <span class='uit-subhead__quote-author'>- Gloria Brown</span>
                </h4>
            </div>
        </div>

        <div class='uit-middle-content'>

            <p><span class='uit-drop'><span class='uit-drop__inner'>T</span></span>he etching carved into Stone Mountain in the  1970s, 107 years after the end of the Confederate South, is the United States largest monument to the Confederate legacy. Only miles away from the city of Dr. King’s birth, Confederate President Jefferson Davis, along with Generals Robert E. Lee and Thomas J. "Stonewall" Jackson loom over Atlanta on their horses - three-acres long and wider than a football field.</p>

            <p>It’s a reminder of Brown’s own life, her family’s history in the American South, as an African-American woman - a history that should not be erased, she says. </p>

            <p>Her mother worked as a summer maid for James R. Venable’s family, owners of Stone Mountain before it was bought by the state in 1958, and the organizer of the modern day Ku Klux Klan faction, in the small town right outside of Atlanta - a town considered to be the birthplace of the new KKK. Her uncle was Venable’s handyman.</p>

            <p>Carving or no carving, the history of the South lives on through her family. Which is why, Brown adds, she doesn’t understand why some prominent African-American civil rights activists and politicians want to remove the confederate carving celebrating the Confederate legacy on Stone Mountain.</p>

            <p>“Good or bad, history is history. You can’t erase the fact of history. Slavery wasn’t right but you can’t go in the textbook and remove it or take it out, ever,” she reasoned from the home she was born and raised in, right under the shadow of the confederate monument. </p>

            <p>In his ubiquitously quoted I Have a Dream <a href="https://kinginstitute.stanford.edu/king-papers/documents/i-have-dream-address-delivered-march-washington-jobs-and-freedom">speech</a>, Dr. King referenced Stone Mountain in 1963, at the height of the KKK’s re-emergence and in the final years of workers carving into the mountain’s granite: “And if America is to be a great nation...So let freedom ring...Let freedom ring from Stone Mountain of Georgia.”</p>

            <p>Just as “finishing touches to the masterpiece” were torched into stone, as Stone Mountain Park’s website recounts, Atlanta was growing into the unofficial black capital of America. Ebony Magazine went as far as to call the southern city  a “Black Mecca” in 1971.</p>

            <p>“It’s outlandish, it’s absurd, it’s ridiculous,” Professor of History at Emory University in Atlanta,  Joseph Crespino, described the carving. “The carving represents a very different period in the history of Atlanta and the nation,” continuing, “One question that is appropriate to have, given our change in voice, our change in values, our understanding of the moral limitations or just our understanding of history. The confederacy and the cause of the confederacy is not something that we want to celebrate today.”</p>

            <p>More than 150 years since the end of the Confederacy, inequality still plagues Atlanta. <a href="https://www.bloomberg.com/news/articles/2018-10-10/atlanta-takes-top-income-inequality-spot-among-american-cities">Bloomberg analysis</a> estimates Atlanta to be the most unequal city income-wise in America in 2018. A recent <a href="https://societyhealth.vcu.edu/media/society-health/pdf/CSH-AtlantaMethods.pdf">study</a> found those born in predominantly black neighborhoods in Atlanta were estimated to have shorter life spans than those born in more affluent, white neighborhoods a few zip codes away. A 2015 <a href="https://www.aecf.org/blog/as-atlantas-economy-thrives-many-residents-of-color-are-left-behind/">study on children, race and residence</a> in Atlanta found “Eighty percent of Atlanta's African-American children live in communities with high concentrations of poverty, compared with 6 percent of their white peers and 29 percent of Asians.” </p>

            <p>And yet, the superlatives surrounding Atlanta as the black capital of the South are endless. It is home to a maze of historic African-American universities. The <a href="https://www.nytimes.com/2011/11/26/us/atlanta-emerges-as-a-center-of-black-entertainment.html">New York Times</a>, <a href="https://www.vogue.com/article/atlanta-travel-guide-beltline-tour">Vogue</a>, and the <a href="https://www.thedailybeast.com/how-atlanta-became-the-new-cultural-capital-of-america">Daily Beast</a> have declared it a new center for pop culture. Forbes <a href="https://www.forbes.com/sites/joelkotkin/2018/01/15/the-cities-where-african-americans-are-doing-the-best-economically-2018/#68659dea1abe">cites</a> the city as the best landing spot for African-Americans, economically, in the country.</p>

            <p>Now, nearly 50 years after the final touches to the  country’s largest confederate memorials, Georgia’s first black female gubernatorial candidate, Stacey Abrams, could turn the Republican-favoring red state blue and make history in the process.</p>
        </div>

        <div class="uit-section-divider" data-step='2'>
            <video class="uit-chart-image" playsinline autoplay muted loop data-step='1'>
                <source src="{{ path }}/assets/colletti.mp4" type="video/mp4">
                </video>
            <div id="uit-section-divider-2" class="uit-quote-subhead">
                <h3 class='uit-subhead'>
                    <span class='uit-subhead__inner'>"Good or bad, history is history. You can’t erase the fact of history."</span>
                </h3>
                <h4>
                    <span class='uit-subhead__quote-author'>- Gloria Brown</span>
                </h4>
            </div>
        </div>

        <div class='uit-middle-content'>
            <p><span class='uit-drop'><span class='uit-drop__inner'>V</span></span>ivamus sagittis, diam in  lobortis, sapien arcu mattis erat, vel aliquet sem urna et risus. Ut feugiat sapien vitae mi elementum laoreet. Suspendisse potenti. Aliquam erat nisl, aliquam pretium libero aliquet, sagittis eleifend nunc. In hac habitasse platea dictumst. Integer turpis augue, tincidunt dignissim mauris id, rhoncus dapibus purus. Maecenas et enim odio.</p>

            <p>Nullam massa metus, varius quis vehicula sed, pharetra mollis erat. In quis viverra velit. Vivamus placerat, est nec hendrerit varius, enim dui hendrerit magna, ut pulvinar nibh lorem vel lacus. Mauris a orci iaculis, hendrerit eros sed, gravida leo. In dictum mauris vel augue varius, ac ullamcorper nisl ornare. In eu posuere velit, ac fermentum arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam sed malesuada leo, at interdum elit.</p>

            <p>Nullam massa metus, varius quis vehicula sed, pharetra mollis erat. In quis viverra velit. Vivamus placerat, est nec hendrerit varius, enim dui hendrerit magna, ut pulvinar nibh lorem vel lacus. Mauris a orci iaculis, hendrerit eros sed, gravida leo. In dictum mauris vel augue varius, ac ullamcorper nisl ornare. In eu posuere velit, ac fermentum arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam sed malesuada leo, at interdum elit.</p>

            <p>Nullam massa metus, varius quis vehicula sed, pharetra mollis erat. In quis viverra velit. Vivamus placerat, est nec hendrerit varius, enim dui hendrerit magna, ut pulvinar nibh lorem vel lacus. Mauris a orci iaculis, hendrerit eros sed, gravida leo. In dictum mauris vel augue varius, ac ullamcorper nisl ornare. In eu posuere velit, ac fermentum arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam sed malesuada leo, at interdum elit.</p>
        </div>

        <div class="uit-section-divider" data-step='3'>
            <video class="uit-chart-image" playsinline autoplay muted loop data-step='1'>
                <source src="{{ path }}/assets/thurmond.mp4" type="video/mp4">
                </video>
            <div id="uit-section-divider-3" class="uit-quote-subhead">
                <h3 class='uit-subhead'>
                    <span class='uit-subhead__inner'>"Good or bad, history is history. You can’t erase the fact of history."</span>
                </h3>
                <h4>
                    <span class='uit-subhead__quote-author'>- Gloria Brown</span>
                </h4>
            </div>
        </div>

        <div class='uit-middle-content'>
            <p><span class='uit-drop'><span class='uit-drop__inner'>V</span></span>ivamus sagittis, diam in  lobortis, sapien arcu mattis erat, vel aliquet sem urna et risus. Ut feugiat sapien vitae mi elementum laoreet. Suspendisse potenti. Aliquam erat nisl, aliquam pretium libero aliquet, sagittis eleifend nunc. In hac habitasse platea dictumst. Integer turpis augue, tincidunt dignissim mauris id, rhoncus dapibus purus. Maecenas et enim odio.</p>

            <p>Nullam massa metus, varius quis vehicula sed, pharetra mollis erat. In quis viverra velit. Vivamus placerat, est nec hendrerit varius, enim dui hendrerit magna, ut pulvinar nibh lorem vel lacus. Mauris a orci iaculis, hendrerit eros sed, gravida leo. In dictum mauris vel augue varius, ac ullamcorper nisl ornare. In eu posuere velit, ac fermentum arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam sed malesuada leo, at interdum elit.</p>

            <p>Nullam massa metus, varius quis vehicula sed, pharetra mollis erat. In quis viverra velit. Vivamus placerat, est nec hendrerit varius, enim dui hendrerit magna, ut pulvinar nibh lorem vel lacus. Mauris a orci iaculis, hendrerit eros sed, gravida leo. In dictum mauris vel augue varius, ac ullamcorper nisl ornare. In eu posuere velit, ac fermentum arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam sed malesuada leo, at interdum elit.</p>

            <p>Nullam massa metus, varius quis vehicula sed, pharetra mollis erat. In quis viverra velit. Vivamus placerat, est nec hendrerit varius, enim dui hendrerit magna, ut pulvinar nibh lorem vel lacus. Mauris a orci iaculis, hendrerit eros sed, gravida leo. In dictum mauris vel augue varius, ac ullamcorper nisl ornare. In eu posuere velit, ac fermentum arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam sed malesuada leo, at interdum elit.</p>

        </div>
    </div>
