<div class='uit-container'>
    <div class='uit-middle-content'>
        <ul class='uit-steps'>
            <li class='uit-step uit-subhead' data-step='1'>
                <span class="uit-subhead__inner">It is America’s biggest Confederate monument – three Civil War leaders carved into the rock face of Stone Mountain outside Atlanta. It is also a huge tourist attraction, featuring a laser light show, drones and 100ft flame cannons.</span>
            </li>

            <li id='uit-chart-last--1' class='uit-step uit-subhead uit-step__last uit-chart-marker-fixed' data-chart='1' data-step='2'>
                <span class="uit-subhead__inner">But with its direct links to the Ku Klux Klan, and as Confederate memorials around the country are being torn down following the white supremacist violence at Charlottesville last year, is Stone Mountain's time up?</span>
            </li>
        </ul>
    </div>
</div>

{{> partials/chart }}
<div class='uit-body'>
    <div class="uit-header-container">
        <span class="uit-header-series-link"><a href="https://www.theguardian.com/cities/series/guardian-atlanta-week">Guardian Atlanta Week</a></span>
        <h1 class='uit-header__headline' itemprop='headline'>
            <span class='uit-header__headline-kicker'>The KKK’s Mount Rushmore: is it time to remove the Confederate monument on Stone Mountain?</span>
        </h1>
    </div>
    <div class='uit-middle-content'>
        <p class='uit-header__byline'><a href="https://www.theguardian.com/profile/khushbu-shah">Khushbu Shah</a> in Atlanta, GA. Videography by <a href="https://www.theguardian.com/profile/tom-silverstone">Tom Silverstone</a></p>
        {{> partials/share }}
        <p><span class='uit-drop'><span class='uit-drop__inner'>T</span></span>he Lasershow Spectacular (™) is a celebration of brand America. Its huge 3D video projection (“taller than the Statue of Liberty!”) pulls out all the stops – depicting patriotic icons from bald eagles to Mickey Mouse to towering letters spelling U-S-A, with lots of fiery explosions and a rousing musical score with at least eight separate key changes. The official website boasts that “the Lasershow is now so spectacular, the FAA must be consulted to ensure airplanes don’t become blinded by lasers.”</p>

        <p>Families visiting the park, which is Georgia’s most popular tourist attraction, come here to picnic on the grand lawn and gaze up at the show, which is projected directly on to Stone Mountain’s Confederate monument. The show ends with the three sculptures of the Confederate leaders – Generals Robert E Lee, Stonewall Jackson and Confederate president Jefferson Davis – coming to life and ”riding off” into the evening sky.</p>

        <div class="uit-left uit-left-image">
            <img src="{{ path }}/assets/stone-mt.jpg">
            <p href=''>{{> icons/up_caption }} Confederate figures carved in Stone Mountain. Photograph: Pegaz/Alamy</p>
        </div>

        <p>The scale of the monument, which was only finished in 1972, probably can’t be fully appreciated until it is seen firsthand. It’s the biggest memorial, by far, to the Confederacy, and at 158ft tall is the largest stone carving of its kind in the world.</p>

        <p>It was also started by the Ku Klux Klan. The owner of the land was a Klansman, as was the original sculptor (who also created Mount Rushmore). And it sits inside Stone Mountain state park, just east of downtown Atlanta, only a few miles from the birthplace of Dr Martin Luther King, Jr.</p>

        <p>King himself included Stone Mountain in his most famous <a href="https://kinginstitute.stanford.edu/king-papers/documents/i-have-dream-address-delivered-march-washington-jobs-and-freedom">speech</a>, I Have a Dream. It was 1963, at the height of the KKK’s re-emergence, and just as the workers were putting the “finishing touches to the masterpiece”, as the Stone Mountain Park website has it.</p>

        <p>“And if America is to be a great nation,” said King, “So let freedom ring … Let freedom ring from Stone Mountain of Georgia.”</p>

        <div class="uit-quick-guide">
            <div class="top-line"></div>
            <div class="top-line"></div>
            <div class="top-line"></div>
            <div class="top-line"></div>
            <div class="uit-top-area">
                <span class="uit-guide-label">Quick guide</span>
                <p>History of the monument</p>
            </div>
            <div class="uit-hidden-area">
                <ul>
                    <li>The origins of the sculpture date back to 1915, when 15 men burned a cross atop the mountain and marked the founding of the modern Ku Klux Klan
                    </li>
                    <li>Samuel Venable, a Klansman and quarry operator who owned the property, deeded its north face to the <a href="https://www.theguardian.com/us-news/2018/aug/10/united-daughters-of-the-confederacy-statues-lawsuit">United Daughters of the Confederacy</a>, (UDC), which planned the original carving
                    </li>
                    <li>A Klansman - sculptor Gutzon Borglum - was commissioned and started work, but quit in 1925. (Borglum later created the Mount Rushmore sculpture.) Shortly therafter the UDC ran out of money and the sculpture was shelved
                    </li>
                    <li>In 1958, the state of Georgia bought Stone Mountain in order to create a Confederate memorial park
                    </li>
                    <li>In 1963, the state resumed work on the Confederate sculpture – the same year Dr Martin Luther King proclaimed in his famous I Have A Dream speech, “Let freedom ring from Stone Mountain of Georgia!”
                    </li>
                    <li>Work continued on the sculpture through the 1960s, even as Atlanta emerged as a centre of the civil rights movement
                    </li>
                    <li>The sculpture was unveiled in 1970, and in recent years a laser light show has been projected on to the face. Stone Mountain Park has since grown to become Georgia’s most popular tourist destination, with approximately four million visitors annually
                    </li>
                    <li>In 2017, calls came for the memorial to be removed after a white supremacist killed a woman, Heather Heyer, at a far-right rally in Charlottesville, sparking a national movement to rid the country of Confederate monuments
                    </li>
                    <li>A 2016 Southern Poverty Law Center <a href="https://www.splcenter.org/sites/default/files/com_whose_heritage.pdf">report</a> estimates more than 170 monuments to the Confederacy still stand in Georgia
                    </li>
                </ul>
            </div>
            <span class="uit-quick-guide-button">   Show  </span>
        </div>

    </div>

    <div id="uit-section-divider-1" class="uit-section-divider" data-step='1'>
        <video class="uit-chart-image" playsinline autoplay muted loop data-step='1'>
            <source id="uit-video-source-1" src="{{ path }}/assets/desmond.mp4" type="video/mp4">
            </video>

            <div class="uit-quote-subhead">
                <h3 class='uit-subhead'>
                    <span>{{> icons/quote }}A blight on our state that should be removed</span>
                </h3>
                <h4>
                    <span class='uit-subhead__quote-author'>- Desmond Hardy</span>
                </h4>
            </div>
            <div class='uit-video-text'>
                <div class="uit-video-cta">
                    <a id="video_svg_desmond" href=''>{{> icons/play_video }}</a>
                    <span>Watch Interview</span>
                </div>
            </div>
        </div>

        <div class='uit-middle-content'>

            <p><span class='uit-drop'><span class='uit-drop__inner'>D</span></span>epending who you ask, the Stone Mountain carving is a monument to white supremacy and men who fought to defend slavery, and must be removed, or a part of history that needs to be protected. </p>

            <p>Richard Rose, the Atlanta chapter president of the National Association for the Advancement of Colored People (NAACP), is firmly in the first camp.</p>

            <p>The three men depicted by the carving contributed to a war that killed thousands in the name of defending slavery, he says. And it didn’t end there. “They continued the practices of white supremacy after the war,” Rose said.</p>

            <p>Stone Mountain, he argues, “speaks not to Atlanta, per se, but to the state of Georgia, which every year tries to proclaim a Confederate History month”.</p>

            <div class="uit-left uit-left-quote">
                <h2>{{> icons/quote }} Confederate monuments belong in museums where we can study and reflect on that terrible history</h2>
                <h3><i><a href="https://www.theguardian.com/us-news/2018/sep/17/georgia-governor-midterms-stacey-abrams-brian-kemp">Stacey Abrams</a>, candidate for Georgia governor</i></h3>
            </div>

            <p>But as a movement grows to remove Confederate symbols across the US – including tearing down statues and lowering Confederate flags from state facilities – fresh attention is being paid to the biggest Confederate monument of all.</p>

            <p>Stacey Abrams, the Democratic candidate in Georgia, who is running in a hotly contested race to try to shift the long-time red state blue – and become the nation’s first black female governor in the process – has previously criticised the monument.</p>

            <p>After the Charlottesville violence at the ‘Unite the Right’ rally last August, Abrams condemned the carving in a series of <a href="https://twitter.com/staceyabrams/status/897416667835269120?lang=en">tweets</a>.</p>

            <p>“Confederate monuments belong in museums where we can study and reflect on that terrible history, not in places of honor across our state,” she wrote. “[T]he visible image of Stone Mountain's edifice remains a blight on our state and should be removed.”</p>

            <p>But the politics of the issue are difficult – not least because you can’t just take down a sculpture carved into side of a mountain – and more recently Abrams has said that although she stands by her position, <a href="https://www.valdostadailytimes.com/news/local_news/abrams-state-should-not-fund-monument-to-domestic-terrorism/article_643e4ecd-ff18-564d-a33f-0f5ca80e57e8.html">dealing with the monument is not top of her list of priorities.</a></p>
        </div>

        <div id="uit-section-divider-2" class="uit-section-divider" data-step='2'>
            <video class="uit-chart-image" playsinline autoplay muted loop data-step='1'>
                <source id="uit-video-source-2" src="{{ path }}/assets/thurmond.mp4" type="video/mp4">
                </video>
                <!--
                <img id="uit-video-source-2" class="uit-chart-image" src="{{ path }}/assets/thurmond.gif">
                -->
                <div class="uit-quote-subhead">
                    <h3 class='uit-subhead'>
                        <span>{{> icons/quote }}Keep the carving as a teaching opportunity.</span>
                    </h3>
                    <h4>
                        <span class='uit-subhead__quote-author'>- Michael Thurmond</span>
                    </h4>
                </div>
                <div class='uit-video-text'>
                    <div class="uit-video-cta">
                        <a id="video_svg_thurmond" href=''>{{> icons/play_video }}</a>
                        <span>Watch Interview</span>
                    </div>
                </div>
            </div>

            <div class='uit-middle-content'>
                <p><span class='uit-drop'><span class='uit-drop__inner'>I</span></span>ndeed, not all prominent black politicians and activists agree about the monument.</p>

                <p>Michael Thurmond is the first and only African-American on the board of Stone Mountain Parks, as well as the CEO of DeKalb County, where the carving stands.</p>

                <p>He wants to leave it where it is.</p>

                <p>Looking out from the park’s Memorial Hall towards the carving, past a crew of workers building a 400ft ski slope replete with fake snow, the 65-year-old veteran politician argued that the monument preserves the history of the Civil War, which needs to remain intact.</p>

                <p>“It was a pivotal moment in the United States of America,” he says. “[The carving] presents an opportunity to teach this generation and the next generation how movements based on racism, based on bias and prejudice are ultimately defeated.”</p>

                <div class="uit-left uit-left-image">
                    <img src="{{ path }}/assets/picnic.jpg">
                    <p href=''>{{> icons/up_caption }} Visitors at Stone Mountain. Photograph: Michael Rabideau/Getty</p>
                </div>

                <p>Most days, visitors to the park are diverse, he points out. Picnic baskets abound when the sun is out, and hikers crawl up past the carving.</p>

                <p>Some of the white tourists on a recent visit agreed with Thurmond, including Margie Legg, 67, visiting her daughter from Maryland.</p>

                <p>“My great-grandfather fought in the Civil War. He was a prisoner of war,” she said, interrupting herself to add that she considers herself to be a liberal Democrat. “What’s the point? Someone spent a lot of time. It’s an artistic piece. So I don’t see the point in making a big deal out of it.”</p>

                <p>Legg said she was not aware that the carving had been made so recently, in the last half of the 20th century; she thought it had been there much longer. But that didn’t change her opinion. “People need to let things go, people need to forget about that part of it.”</p>

                <h3 class='uit-subhead'>'Good or bad, history is history'</h3>

                <p><span class='uit-drop'><span class='uit-drop__inner'>O</span></span>thers come at the issue from a closer distance. Gloria Brown, 78, grew up in Stone Mountain and still lives in a white wooden bungalow on one of the village’s handful of streets. She recalls her visits as a child to Rich’s Department Store in downtown Atlanta, where she’d ride up and down the escalator to the Magnolia Room restaurant – where she wasn’t allowed to enter.</p>

                <p>Not until the establishment desegregated in the 1960s, after a sit-in that included Dr King, did Brown, then in her twenties, step foot inside.</p>

                <p>“I wanted to go in there and eat so bad. But I couldn’t. So what you gonna do?” she recalled. “But the day they passed the bill that I could go in, I dressed up my daughter and I went to the Magnolia Room and I sat in there and ate. I don’t even remember [what I ate],” she said with a laugh.</p>

                <p>Her mother worked as a summer maid for James R Venable, whose family were key organizers of the local Ku Klux Klan faction; the Venable family owned Stone Mountain before it was bought by the state in 1958, and it was Samuel Venable, a Klansman and quarry operator, who deeded its north face to the <a href="https://www.theguardian.com/us-news/2018/aug/10/united-daughters-of-the-confederacy-statues-lawsuit">United Daughters of the Confederacy</a> for the original carving. Brown’s uncle was James Venable’s handyman.</p>

                <p>So it perhaps surprising that she thinks the monument should stay. She calls it a reminder of her life, of her family’s history in the South, of her experience as an African-American woman – and a sign of history that should not be erased.</p>

                <p>She says she doesn’t understand why some prominent African-American civil rights activists and politicians want to remove it. “Good or bad, history is history. You can’t erase the fact of history. Slavery wasn’t right but you can’t go in the textbook and remove it or take it out, ever,” she said.</p>
            </div>

            <div id="uit-section-divider-3"  class="uit-section-divider" data-step='3'>
                <video class="uit-chart-image" playsinline autoplay muted loop data-step='1'>
                    <source id="uit-video-source-3" src="{{ path }}/assets/colletti.mp4" type="video/mp4">
                    </video>
                    <div class="uit-quote-subhead">
                        <h3 class='uit-subhead'>
                            <span>{{> icons/quote }}Why are people trying to take away history?</span>
                        </h3>
                        <h4>
                            <span class='uit-subhead__quote-author'>- George Coletti</span>
                        </h4>
                    </div>
                    <div class='uit-video-text'>
                        <div class="uit-video-cta">
                            <a id="video_svg_colletti" href=''>{{> icons/play_video }}</a>
                            <span>Watch Interview</span>
                        </div>
                    </div>
                </div>

                <div class='uit-middle-content'>
                    <p><span class='uit-drop'><span class='uit-drop__inner'>A</span></span> white neighbor of Brown’s living one block over (past Venable Street), George Coletti, 79, says he remembers his parents telling him about growing up in the time of the KKK. His mother had to hire a genealogist in order to prove that her Lebanese roots defined her as Caucasian, so that the KKK would allow her to attend the white school.</p>

                    <p>In the 1960s, there was more sentimentality for the Civil War than there is today, Coletti said. When he was a child, the KKK’s burning crosses could be seen on Stone Mountain from neighborhoods around Atlanta – and he says that in his community it wasn’t considered to be a big deal.</p>

                    <p>“Michael Thurmond is doing a lot to help blacks understand what’s going on out here” on Stone Mountain, Coletti said. “Why are people trying to take away history?”</p>

                    <h3 class='uit-subhead'>'Take it down, but preserve it as an artifact'</h3>

                    <p>The KKK burning crosses might not have been a big deal to Coletti’s neighbours, but others would disagree. Nor is the carving only representative of a time past. As recently as 2015 – even before President Donald Trump invited white nationalists to the White House, and failed to condemn white nationalists in Charlottesville – a <a href="https://www.theguardian.com/us-news/2015/aug/02/confederate-flag-protest-georgia">pro-Confederate flag rally</a> at Stone Mountain drew hundreds of people.</p>

                    <div class="uit-left uit-left-image">
                        <img src="{{ path }}/assets/rally.jpg">
                        <p href=''>{{> icons/up_caption }} Visitors at Stone Mountain. Photograph: Michael Rabideau/Getty</p>
                    </div>

                        <p>“It’s outlandish, it’s absurd, it’s ridiculous,” said Joseph Crespino, professor of history at Emory University in Atlanta, of the monument – “given our change in voice, our change in values, our understanding of the moral limitations … or just our understanding of history.”</p>

                        <p>“The confederacy and the cause of the confederacy is not something that we want to celebrate today.”</p>

                        <p>The engraving would need a change in state law to remove it, and Professor Crespino would like to see that happen immediately – though he doesn’t want it destroyed. “As a historian, I’d like to see it preserved as a historical artifact, so that future generations can remember how deluded older generations were. And how different the past has been,” he says.</p>

                        <p>“It can serve as a kind of reminder about the folly of humanity and our ability to be deceived – to be so clueless as to create this kind of memorial to a cause that was clearly unjust.”</p>

                        <p><b>Guardian Cities is live in Atlanta for a special series of in-depth reporting. Share your experiences of the city in the comments below, on <a href="https://twitter.com/guardiancities">Twitter</a>, <a href="https://www.facebook.com/guardiancities">Facebook</a> and <a href="https://www.instagram.com/guardiancities/?hl=en">Instagram</a> using #GuardianATL, or via email to <a h ref="mailto:cities@theguardian.com">cities@theguardian.com</b></a></p>
                    </div>
                </div>
