<div class='uit-container'>
    <div class='uit-middle-content'>
        <ul class='uit-steps'>
            <li class='uit-step' data-step='1'>
                <p>The huge Confederate monument on the rock face in Stone Mountain park outside Atlanta is, depending on who you ask, a monument to white supremacy that must be removed. Or a part of history that needs to be protected.
                </p>
            </li>

            <li id='uit-chart-last--1' class='uit-step uit-step__last uit-chart-marker-fixed' data-chart='1' data-step='2'>
                <p class='uit-step__title'>The Guardian canvassed views from residents, visitors, activists and academics on a memorial with links to the Klu Klux Klan that has faced fresh scrutiny since the violence at Charlottesville  last year that prompted calls to remove Confederate memorials</p>
            </li>
        </ul>
    </div>
</div>

{{> partials/chart }}
<div class='uit-body'>
    <div class='uit-middle-content'>
        <h1 class='uit-header__headline' itemprop='headline'>
                <span class='uit-header__headline-kicker'>The KKK, laser shows, and the debate about Stone Mountain's big Confederate memorial</span>
            </h1>
            <p class='uit-header__byline'><a>Khushbu Shah</a> in Atlanta, GA. Videography by <a>Tom Silverstone</a></p>
            {{> partials/share }}
        <p><span class='uit-drop'><span class='uit-drop__inner'>T</span></span>he 158ft high monument carved into the side of the monolithic rock at the heart of Stone Mountain park depicts Confederate Civil War leaders sitting on their favorite horses, looming over Atlanta.</p>

        <p>The scale of the monument, which was finished in 1972, is perhaps not fully appreciated until it is seen firsthand: it’s the biggest memorial, by far, to the Confederacy, and the largest stone carving of its kind in the world.</p>

        <p>The monument sits inside Stone Mountain state park, 14 miles east of Atlanta’s downtown, which attracts some 4 million annual visitors. Attractions include evening shows where, to music, lasers light up the carvings of Generals Robert E Lee, Stonewall Jackson and Confederate President Jefferson Davis, as viewers watch from a grand lawn.</p>

    </div>

    <div id="uit-section-divider-1" class="uit-section-divider" data-step='1'>
        <video class="uit-chart-image" playsinline autoplay muted loop data-step='1'>
            <source id="uit-video-source-1" src="{{ path }}/assets/desmond.mp4" type="video/mp4">
            </video>
            <div class="uit-quote-subhead">
                <h3 class='uit-subhead'>
                    <span class='uit-subhead__inner'>"The monument should be removed"</span>
                </h3>
                <h4>
                    <span class='uit-subhead__quote-author'>- Gloria Brown</span>
                </h4>
            </div>
            <div class='uit-video-text'>
                      <div class="uit-video-cta">
                        <a id="video_svg_desmond" href=''>{{> icons/play_video }}</a>
                        <span>Watch Full Video</span>
                      </div>
              </div>
        </div>

        <div class='uit-middle-content'>

            <p><span class='uit-drop'><span class='uit-drop__inner'>T</span></span>monument is only a few miles from the city of Dr Martin Luther King’s birth.</p>

            <p>In his I Have a Dream <a href="https://kinginstitute.stanford.edu/king-papers/documents/i-have-dream-address-delivered-march-washington-jobs-and-freedom">speech</a>, Dr King referenced Stone Mountain in 1963, at the height of the KKK’s re-emergence and in the final years of workers carving the memorial into the mountain’s granite: “And if America is to be a great nation… So let freedom ring...Let freedom ring from Stone Mountain of Georgia.""</p>

            <p>Just as “finishing touches to the masterpiece” were put into stone, as Stone Mountain Park’s website recounts, Atlanta was growing into the unofficial black capital of America.</p>

            <p>Richard Rose, the Atlanta chapter President of the National Association for the Advancement of Colored People (NAACP), wants the state to remove the memorial. He reasons the three three men it depicts contributed to a war where thousands of people lost their lives. “They continued the practices of white supremacy after the war,” Rose said.

                <div class="uit-left uit-left-quote">
                <h2>{{> icons/quote }} Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</h2>
            </div>

            He adds that Stone Mountain “speaks - not to Atlanta, per se - but to the state of Georgia, which every year tries to proclaim a Confederate History month, for example.”</p>

            <p>Rose added, “In a way, Atlanta is like an oasis in a desert of discrimination and disdain towards people of color. That’s what Georgia is.” </p>

            <p>Stacey Abrams, the Democratic candidate in Georgia could be the nation’s first black female governor and turn the Republican-favoring red state blue.</p>

            <p>After the Charlottesville violence at the ‘Unite the Right’ rally last August, Abrams came out with a series of <a href="https://twitter.com/staceyabrams/status/897416667835269120?lang=en">tweets</a> condemning the carving early into her campaign in 2017, saying, “Confederate monuments belong in museums where we can study and reflect on that terrible history, not in places of honor across our state,” and, “[T]he visible image of Stone Mountain's edifice remains a blight on our state and should be removed.”</p>

            <p>More recently in the campaign, perhaps reflecting the difficult politics of the issue, while standing by her view of it, <a href="https://www.valdostadailytimes.com/news/local_news/abrams-state-should-not-fund-monument-to-domestic-terrorism/article_643e4ecd-ff18-564d-a33f-0f5ca80e57e8.html">she said dealing with the monument is not top of her priorities.</a></p>
        </div>

        <div id="uit-section-divider-2" class="uit-section-divider" data-step='2'>
            <video class="uit-chart-image" playsinline autoplay muted loop data-step='1'>
                <source id="uit-video-source-2" src="{{ path }}/assets/thurmond.mp4" type="video/mp4">
                </video>
            <div class="uit-quote-subhead">
                <h3 class='uit-subhead'>
                    <span class='uit-subhead__inner'>"Keep the carving."</span>
                </h3>
                <h4>
                    <span class='uit-subhead__quote-author'>- Michael Thurmond</span>
                </h4>
            </div>
            <div class='uit-video-text'>
                      <div class="uit-video-cta">
                        <a id="video_svg_thurmond" href=''>{{> icons/play_video }}</a>
                        <span>Watch Full Video</span>
                      </div>
              </div>
        </div>

        <div class='uit-middle-content'>
            <p><span class='uit-drop'><span class='uit-drop__inner'>N</span></span>ot all prominent black politicians and activists agree about the monument.</p>

            <p>The first and only African-American on Stone Mountain Parks board, also DeKalb County’s CEO - where the carving stands - Michael Thurmond, wants to leave the carving where it is, even in 2018, he says.</p>

            <p>Looking out at the carving from the park’s Memorial Hall, the 65-year-old veteran politician argued the history not only the Civil War, but the entire history of America, needs to remain intact. “[The Civil War]”, he said, “was a pivotal moment in the United States of America,” adding, “[the carving] presents an opportunity to teach this generation and the next generation how movements based on racism, based on bias and prejudice are ultimately defeated.” You can’t take it down like you would a flag or statue, he said.</p>

            <div class="uit-left uit-left-image">
            <img src="{{ path }}/assets/picnic.jpg">
            <span class="uit-caption" href=''>{{> icons/up_caption }} Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</span>
        </div>

            <p>Most days, when the sun is out, the visitors are diverse, picnic baskets abound, and hikers crawl up past the carving that is equal part tourist attraction, equal part contentious. Some of the white visitors to the park that day, as construction workers built a 400-foot ski slope near a mound of fake snow, agreed with Thurmond.</p>

            <p>Margie Legg, 67, was visiting her daughter from Maryland, called the carving a nice memorial, saying it shouldn’t go. “My great-grandfather fought in the Civil War. He was a prisoner of war,” she said, interrupting herself to add she considers herself to be a liberal Democrat. “What’s the point? Someone spent a lot of time. It’s an artistic piece,” she added, “So I don’t see the point in making a big deal out of it. People need to let things go, people need to forget about that part of it.”</p>

            <p>Legg said she was no aware the carving was a recent construction in the last half of the twentieth century and thought it had been there much longer.</p>

            <p><span class='uit-drop'><span class='uit-drop__inner'>G</span></span>loria Brown grew up in Stone Mountain, visiting Rich’s Department Store in downtown Atlanta, riding up and down the escalator to the entrance of the Magnolia Room restaurant. Until her twenties, she wasn’t allowed inside. Not until the establishment desegregated in the 1960s, after a sit-in featuring Atlanta-native Dr. King, did the 78-year-old step foot inside the popular restaurant, just miles away from her home.</p>

            <p>“I wanted to go in there and eat so bad. But I couldn’t. So what you gonna do?” she asked. “But the day they passed the bill that I could go in, I dressed up my daughter and I went to the Magnolia Room and I sat in there and eat. I don’t even remember [what I ate],” she said with a laugh, sitting in her one-story, white wooden home on one of the handful of streets in the Village of Stone Mountain.</p>

            <div class="uit-left uit-left-quote">
            <h2>{{> icons/quote }} Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</h2>
        </div>

            <p>She says the monument is a reminder of her life, her family’s history in the American South, as an African-American woman - a history that should not be erased, she says.</p>

            <p>Her mother worked as a summer maid for James R Venable’s family, whose family owned Stone Mountain before it was bought by the state in 1958, and the organizer of the modern day Ku Klux Klan faction, in the small town right outside of Atlanta - a town considered to be the birthplace of the new KKK. Her uncle was Venable’s handyman.</p>

            <p>Carving or no carving, the history of the South lives on through her family. Which is why, Brown adds, she doesn’t understand why some prominent African-American civil rights activists and politicians want to remove the confederate carving celebrating the Confederate legacy on Stone Mountain. “Good or bad, history is history. You can’t erase the fact of history. Slavery wasn’t right but you can’t go in the textbook and remove it or take it out, ever,” she said.</p>
        </div>

        <div id="uit-section-divider-3"  class="uit-section-divider" data-step='3'>
            <video class="uit-chart-image" playsinline autoplay muted loop data-step='1'>
                <source id="uit-video-source-3" src="{{ path }}/assets/colletti.mp4" type="video/mp4">
                </video>
            <div class="uit-quote-subhead">
                <h3 class='uit-subhead'>
                    <span class='uit-subhead__inner'>"Take it down, but preserve as artifact"</span>
                </h3>
                <h4>
                    <span class='uit-subhead__quote-author'>- George Coletti</span>
                </h4>
            </div>
            <div class='uit-video-text'>
                      <div class="uit-video-cta">
                        <a id="video_svg_colletti" href=''>{{> icons/play_video }}</a>
                        <span>Watch Full Video</span>
                      </div>
              </div>
        </div>

        <div class='uit-middle-content'>
            <p><span class='uit-drop'><span class='uit-drop__inner'>B</span></span>rown’s white neighbor, a block over past Venable Street, George Coletti, 79, who calls himself the city historian, remembers his parents telling him about growing up in the time of the KKK. His mother had to hire a genealogist to prove her Lebanese roots defined her as Caucasian so the KKK would allow her to attend the white school in town.</p>

            <p>In the 1960s, there was more [sentimentality] for the Civil War, Coletti said. Now, in 2018, it’s hatred for the Civil War, he says. “CEO Michael Thurmond is doing a lot to help blacks understand what’s going on out here [on Stone Mountain],” Coletti said. “Why are people trying to take away history?,” he asked.</p>

            <div class="uit-left uit-left-image">
            <video playsinline autoplay muted loop>
                 <source src="{{ path }}/assets/stone_mt_short.mp4" type="video/mp4">
            </video>
            <span class="uit-caption" href=''>{{> icons/up_caption }} Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</span>
        </div>

            <p>When he was a kid, the KKK’s burning crosses could be seen from neighborhoods in and around Atlanta. It wasn’t seen then as any big deal, he adds. Brown tends to agree, rolling her eyes at the memory, remembering them as her unimposing neighbors making their way through town as she watched from her porch.</p>

            <p>That carving, however, is not only representative of a time past. In 2015, before President Trump invited white nationalists to the White House or failed to condemn white nationalists in Charlottesville, a <a href="https://www.theguardian.com/us-news/2015/aug/02/confederate-flag-protest-georgia">pro-Confederate flag rally</a> at Stone Mountain drew hundreds.</p>

            <p>“It’s outlandish, it’s absurd, it’s ridiculous,” Professor of History at Emory University in Atlanta,  Joseph Crespino, described the carving. “One question that is appropriate to have, given our change in voice, our change in values, our understanding of the moral limitations or just our understanding of history. The confederacy and the cause of the confederacy is not something that we want to celebrate today.”</p>

            <p>Professor Crespino would like to see the carving come down but still keep it intact, as a lesson to Atlanta, to Americans. “As a historian, I’d like to see it preserved as a historical artifact so that future generations can remember how older generations, how deluded they were. And how different the past has been. It can serve as a kind of reminder about the folly of humanity and our ability to be deceived and to be so clueless as to do this kind of memorial to a cause that was clearly unjust.”</p>

            <p><b>Guardian Cities is live in Atlanta for a special series of in-depth reporting. Share your experiences of the city in the comments below, on <a href="https://twitter.com/guardiancities">Twitter</a>, <a href="https://www.facebook.com/guardiancities">Facebook</a> and <a href="https://www.instagram.com/guardiancities/?hl=en">Instagram</a> using #GuardianATL, or via email to <a h ref="mailto:cities@theguardian.com">cities@theguardian.com</b></a></p>
        </div>
    </div>
