<div id='uit-chart-number--1' class='uit-chart is-fixed'>
    <!-- <img id='uit-chart-img1' class='uit-chart-img' data-step='1' src="{{ path }}/assets/stone_mountain_1.jpg"> -->
    <video id="bgvid3" class="bgvid" playsinline autoplay muted loop>
          <!--<source id="bgvid-source-link" src="{{ path }}/assets/stone-mt.mp4" type="video/mp4"> -->
    </video>
    <video id="bgvid2" class="bgvid" playsinline autoplay muted loop>
          <!--<source id="bgvid-source-link" src="{{ path }}/assets/stone-mt.mp4" type="video/mp4"> -->
    </video>
    <video id="bgvid1" class="bgvid" playsinline autoplay muted loop>
          <!--<source id="bgvid-source-link" src="{{ path }}/assets/stone-mt.mp4" type="video/mp4"> -->
    </video>
</div>
