<div id='uit-chart-number--1' class='uit-chart is-fixed'>
    <!-- <img id='uit-chart-img1' class='uit-chart-img' data-step='1' src="{{ path }}/assets/stone_mountain_1.jpg"> -->
    <video id="bgvid2" class="bgvid" playsinline autoplay muted loop>
          <source src="{{ path }}/assets/intro_2.mp4" type="video/mp4">
    </video>
    <video id="bgvid1" class="bgvid" poster="intro_1.jpg" preload="auto" playsinline autoplay muted loop>
          <source src="{{ path }}/assets/intro_1.mp4" type="video/mp4">
    </video>
</div>
