<div class='uit-related'>
    <div class='uit-container'>
        <div class='uit-related__header'>
            <h4 class='uit-related__title'>Related Stories</h4>
        </div>

        <div class='uit-related__items'>
            <div class='uit-related__item'>
                <a class='uit-related__link' href="https://www.theguardian.com/cities/2018/oct/22/what-is-guardian-atlanta-week-and-how-can-you-get-involved">
                    <img class='uit-related__image' src='{{ path }}/assets/atl_week.jpg' />
                    <div class='uit-related__headline'>What is Guardian Atlanta week – and how can you get involved?</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href="https://gu.com/p/9gmmc/stw">
                    <img class='uit-related__image' src='{{ path }}/assets/lgbt.jpg' />
                    <div class='uit-related__headline'>‘It's OK to be ourselves’: Atlanta’s black LGBT community</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href="https://www.theguardian.com/cities/2018/oct/22/black-reverse-migration-atlanta-brian-kemp-stacey-abrams-governor-midterms-voter-suppression">
                    <img class='uit-related__image' src='{{ path }}/assets/migration.jpg' />
                    <div class='uit-related__headline'>Black 'reverse migration' driving Atlanta and Georgia towards Democrats</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href="https://www.theguardian.com/cities/ng-interactive/2018/oct/22/sound-of-atlanta">
                    <img class='uit-related__image' src='{{ path }}/assets/sound.jpg' />
                    <div class='uit-related__headline'>The Sound of Atlanta</div>
                </a>
            </div>
        </div>
    </div>
</div>
