<div class='uit-related'>
    <div class='uit-container'>
        <div class='uit-related__header'>
            <h4 class='uit-related__title'>Related Stories</h4>
        </div>

        <div class='uit-related__items'>
            <div class='uit-related__item'>
                <a class='uit-related__link'>
                    <img class='uit-related__image' src='{{ path }}/assets/atl_week.jpg' />
                    <div class='uit-related__headline'>What is Guardian Atlanta week – and how can you get involved?</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link'>
                    <img class='uit-related__image' src='{{ path }}/assets/mecca.jpg' />
                    <div class='uit-related__headline'>Black mecca or most unequal US city: will the real Atlanta please stand up?</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link'>
                    <img class='uit-related__image' src='{{ path }}/assets/migration.jpg' />
                    <div class='uit-related__headline'>Black 'reverse migration' driving Atlanta and Georgia towards Democrats</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link'>
                    <img class='uit-related__image' src='{{ path }}/assets/sound.jpg' />
                    <div class='uit-related__headline'>The Sound of Atlanta</div>
                </a>
            </div>
        </div>
    </div>
</div>
