.uit-body {

    margin-left: 5px;
    margin-right: 5px;

    background-color: #fff;

    p {
        @include bodyCopy();
        margin-bottom: 18px;
    }

    @include mq(desktop) {
        margin-left: 40px;
        margin-right: 40px;
    }
}

.uit-drop {
    @include dropCap(4);
    font-weight: bold;
    color: $c-red;
}

.uit-subhead {
    //@include banding($c-red);
    font-size: 34px;
    font-weight: bold;
    color: #ffe500;
    line-height: 40px;
}

.uit-subhead__inner{
    color: #c70000;
}

.uit-button {
    @include button($c-white, $c-red);
}
