.uit-header {
    overflow: auto;
}

.uit-header__headline {
    padding: 6px 0;
    font-family: 'Guardian Egyptian Web';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1;

    @include mq(tablet) {
        font-size: 48px;
    }
}

.uit-header__headline-kicker {
    display: block;
    color: $c-red;
}

.uit-middle-content {
    .uit-header__standfirst {
        padding: 3px 0 0;
        font-family: 'Guardian Egyptian Web';
        font-weight: 300;
        font-size: 18px;
        line-height: 1.2;

        @include mq(tablet) {
            font-size: 24px;
        }
    }
}

.uit-header__standfirst {
    padding: 3px 0 0;
    font-family: 'Guardian Egyptian Web';
    font-weight: 300;
    font-size: 18px;
    line-height: 1.2;

    @include mq(tablet) {
        font-size: 24px;
    }
}

.uit-header .uit-share {
    padding-bottom: 24px;
}

.uit-header__byline {
    font-size: 16px;
    line-height: 1.3;
    font-family: 'Guardian Egyptian Web';
    font-style: italic;
    font-weight: 400;
    color: $c-red;

    a {
        font-style: normal;
        font-weight: bold;
        color: $c-red;
    }
}

.uit-photo-container {
  position: relative;//
  max-width: 100vw;
  MIN-HEIGHT: 100VH;
  width: auto;
  height: auto;
  overflow: hidden;
}

.uit-photo-text {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 1);
  Z-INDEX: 200;
  color: $c-white;
}

.uit-header-map {
  position: relative;
  overflow: hidden;
}

.uit-video-text {
    @include mq(tablet) {
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.7);
    }
}

.video_card_container {
    width: 100%;
    height: 100%;

    @include mq(tablet) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.bgvid {
    min-height: 250px;
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    position: absolute;
    transition: 0.2s linear all;
}

#interview_vid {
    height: 100%;
    width: 100%;
}
 .uit-video-cta {
   font-size: 20px;
   padding-bottom: 10px;
   color: $c-white;
 }

 .uit-video-cta * {
   vertical-align: middle;
 }

.new-header {
    z-index: 400;
}
