.uit-header-map__point {
}

.uit-steps {
    list-style: none;
    padding: 0;
    margin: 0;
}

.uit-header-map__container {
  position: relative;
}

.uit-header-map {
    padding: 0;

    &.is-fixed {
        position: fixed;
        width: 100%;
        max-width: 100%;
        top: 0;
    }
}

.uit-step {
    position: relative;
    z-index: 100;
    background-color: #000;
    border-left: 1px solid $c-light-grey;
    border-top: 1px solid $c-light-grey;
    padding: 6px;
    margin-bottom: 55vh;
    color: $c-white;
}

.uit-step__last {
  margin-bottom: 95vh;
}

.uit-chart {

  padding-bottom: 24px;

    &.is-fixed {
        position: fixed;
        top: 0;
        width: 620px;
        max-width: calc(100% - 20px);

        @include mq(mobileLandscape) {
            max-width: calc(100% - 40px);
        }

        @include mq(tablet) {
            max-width: 100%;
            top: 0vh;
        }
    }

    g path {
        transition: 0.3s linear all;
    }
}
