.uit-header-map__point {
}

.uit-steps {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 60vh;
}

.uit-header-map__container {
    position: relative;
}

.uit-header-map {
    padding: 0;

    &.is-fixed {
        position: fixed;
        width: 100%;
        max-width: 100%;
        top: 0;
    }
}

.uit-step {
    position: relative;
    z-index: 500;
    //background-color: #000;
    padding: 6px;
    margin-bottom: 65vh;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;

    .uit-subhead__inner{
        color: $c-white;

        @include mq(tablet) {
            line-height: 44px;
        }
    }

    @include mq(tablet) {
        font-size: 34px;
    }
}

.uit-step__last {
    margin-bottom: 95vh;

    &.is-fixed {
        margin-bottom: -200px;
    }
}

.uit-chart {
    padding-bottom: 0px;
    z-index: 400;
    //margin-bottom: 750px;

    @include mq(tablet) {
        padding-bottom: 48px;
    }

    &.is-fixed {
        position: fixed;
        top: 0;
        width: 620px;
        max-width: calc(100% - 20px);

        @include mq(mobileLandscape) {
            max-width: calc(100% - 40px);
        }

        @include mq(tablet) {
            max-width: 100%;
            top: 0vh;
        }
    }
}
