.uit-video-text {

    @include mq(tablet) {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.7);
    }

    h2 {
        color: #fff;
        font-size: 32px;
    }

    .uit-video-cta, h2 {
        padding-left: 20px;
    }
}
